[run]
source =
    accounts
    books
    social
    barter
    notify
    ai_integration
    core
omit =
    create_dummy_data.py
    core/
    run_tests.py
    */tests/*
    */migrations/*
    */__init__.py
    manage.py
    */ai-model/src/*

[report]
show_missing = True
